.labels {
  display: block;
  position: relative;
  padding-left: 5px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.labels input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkmark {
  position: absolute;
  top: 0;
  right: 0;
  width: 25px;
  height: 25px;
  background: #70707059 0% 0% no-repeat padding-box;
  border: 1px solid #ffffff7d;
  opacity: 1;
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.labels input:checked ~ .checkmark:after {
  display: block;
}

.labels .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid #48cae4;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
