html,
body {
  margin: 0;
  height: 100%;
  background-color: #fff;
}
#c {
  width: 100%;
  height: 100%;
  display: block;
}
.split {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
}
.split > div {
  width: 100%;
  height: 100%;
}

#GUI {
  font-family: "Roboto", sans-serif;
  width: 300px;
  height: 650px;
  padding: 30px;
  padding-left: 40px;
  margin: 20px;
  background: #fcfcfc;
  border-radius: 20px;
  text-align: center;
  box-shadow: 0px 15px 40px #7e6d5766;
  position: fixed;
  z-index: 1;
  top: 10%;
  right: -3%;
  display: none;
}

.debug {
  font-family: "Roboto", sans-serif;
  width: 200px;
  height: 200px;
  padding: 30px;
  padding-left: 40px;
  margin: 20px;
  background: #fcfcfc;
  border-radius: 20px;
  text-align: center;
  box-shadow: 0px 15px 40px #7e6d5766;
  position: fixed;
  z-index: 1;
  display: none;
}

.debugtext {
  cursor: move;
}

.navel {
  margin-bottom: 10px;
  font-size: 14px;
}

#Controls {
  font-family: "Roboto", sans-serif;
  background-color: #fcfcfc; /* Green */
  border: none;
  padding: 15px 32px;
  border-radius: 20px;
  text-align: center;
  box-shadow: 0px 15px 40px #7e6d5766;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  position: fixed;
  z-index: 1;
  top: 3%;
  right: -1%;
  border: none;
}

#rangeValue {
  float: right;
  margin: 0px;
}
.sliderDetails {
  float: left;
  font-size: 12px;
  margin: 0px;
}
p {
  font-size: 12px;
  margin: 5px;
}
input[type="number"] {
  border-radius: 5px;
  border-width: 1px;
}
