@import url("https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;400;500;600;700&display=swap");

body {
  margin: 0;
  font-family: "Lato", sans-serif;
}

.Toggle {
  background-color: transparent;
  border: none;
  padding: 15px 32px;
  border-radius: 20px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  position: fixed;
  z-index: 1;
  top: 1%;
  left: 42%;
  display: flex;
  justify-items: center;
}

.LFtext {
  top: 132px;
  left: 1004px;
  width: 128px;
  height: 28px;
  text-align: left;
  font: normal normal 600 22px/28px Rajdhani;
  letter-spacing: 1.23px;
  color: #ffffff;
  opacity: 1;
  text-decoration: none;
  cursor: pointer;
}

.PCtext {
  top: 132px;
  left: 1004px;
  width: 128px;
  height: 28px;
  text-align: left;
  font: normal normal 600 22px/28px Rajdhani;
  letter-spacing: 1.23px;
  color: #ffffff;
  opacity: 1;
}

.buttons {
  background-color: transparent;
  border: none;
  padding: 15px 32px;
  border-radius: 20px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  position: fixed;
  z-index: 1;
  bottom: 3%;
  right: 35%;
  display: flex;
  justify-items: center;
}

#PC1 {
  width: 200px;
  height: 50px;
  background: #70707059 0% 0% no-repeat padding-box;
  box-shadow: 15px 15px 15px #00000029;
  border: 1px solid #ffffff40;
  opacity: 1;
  backdrop-filter: blur(25px);
  -webkit-backdrop-filter: blur(25px);
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 50px;
}

#PC2 {
  width: 200px;
  height: 50px;
  background: #70707059 0% 0% no-repeat padding-box;
  box-shadow: 15px 15px 15px #00000029;
  border: 1px solid #ffffff40;
  opacity: 1;
  backdrop-filter: blur(25px);
  -webkit-backdrop-filter: blur(25px);
  display: flex;
  align-items: center;
  justify-content: center;
}

.PCText {
  margin-top: 5px;
  font: normal normal 600 22px/28px Rajdhani;
  letter-spacing: 1.23px;
  color: #ffffff;
  opacity: 1;
  line-height: 1em;
}
